@import url('//translate.google.com/translate_static/css/translateelement.css');

body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: #000;
  color: #0f0;
  /* add other dark mode styles as needed */
}

* {
  box-sizing: border-box;
}

.main-content {
  padding-top: 60px; /* Height of the navbar*/
}