.administrator-tools {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
  }
  
  .user-management-container {
    width: 100%; /* Take full width of parent */
    text-align: center; /* Center the header text */
    margin-bottom: 10px; /* Adjust as needed for spacing between header and cards */
}

  .adminToolsLink a {
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #399f6f;
    transition: background-color 0.3s ease, font-size 0.3s ease; 
  }
  
  .adminToolsLink a:hover {
    background-color: #69c99c;
    font-size: larger;
  }
  
  .user-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    /* margin-right: -20px;  */
    padding: 10px;
    /* overflow-x: hidden; */
  }
  
  .user-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    background: #fff;
    position: relative; /* Position relative for absolute positioning of buttons */
  }
  
  .user-card h2 {
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .user-card p {
    color: #666;
  }
  
  .user-card-actions {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  
  .edit-user-button,
  .delete-user-button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .edit-user-button {
    background-color: #58c35b;
    color: white;
  }
  
  .edit-user-button:hover {
    background-color: #5ba85f;
  }
  
  .delete-user-button {
    background-color: #F44336;
    color: white;
  }
  
  .delete-user-button:hover {
    background-color: #bd4341;
  }
  
  .return-manager-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #399f6f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    width: fit-content;
  }
  
  .return-manager-link:hover {
    background-color: #69c99c;
  }
  
/* MODAL */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%; 
    max-width: 600px; 
  }
  
  .close {
    color: #aaa;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #333;
  }
  
  .modal h2 {
    margin-top: 0;
  }
  
  .modal label {
    display: block;
    margin-bottom: 15px;
    font-weight: normal;
    cursor: pointer;
  }
  
  .modal input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .modal button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .modal button:hover {
    background-color: #0056b3;
  }
  
  /* Custom checkbox styles */
.custom-checkbox {
    position: relative;
    display: block;
    margin-bottom: 15px;
    user-select: none;
  }
  
  .custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Custom checkbox appearance */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 4px;
    cursor: pointer;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  
  /* On mouse-over, add a grey background color */
  .custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked */
  .custom-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .custom-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .custom-checkbox .checkmark:after {
    left: 7.5px;
    top: 2.5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  /* Increase the size of the checkable area */
  .custom-checkbox label {
    padding-left: 35px;
    cursor: pointer;
    line-height: 25px; /* Adjust line-height to vertically center the text with the checkbox */
    display: inline-block;
  }
  