@import url('//translate.google.com/translate_static/css/translateelement.css');

.customer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}