@import url('//translate.google.com/translate_static/css/translateelement.css');

.home {
    width: 100vw;     
    height: 100vh;     
    display: flex;     
    justify-content: center;
    align-items: center;     
}

#map {
    height: 500px;
    width: 100%;
}
