.manager{
    width: 100vw;     
    height: 100vh;     
    display: flex;     
    justify-content: center;
    align-items: center;     
}

.leftGrid{
    display: 'flex';
    width: '100%';
}

.rightGrid{
    display: 'flex';
    width: '100%';
}

.scrollView{
    flex: 1;
    width: '33%';
    text-align: center;
    border-color: black;
    border-width: 4px;
}

.managerMenuButton{
    display: inline;
    width: 27vw;
}

.managerMenuSwapButton{
    
}

.editPane{
    display: inline;
}

.editPaneItem{
    text-align: center;
}
