@import url('//translate.google.com/translate_static/css/translateelement.css');

.menu {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.entrees {
    flex: 1;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-left: 8%
}

.drinksLeft {
    width: 25%;
    flex: 1;
    margin-left: 10%;
    margin-right: 5%;
}

.drinksRight {
    width: 25%;
    flex: 1;
    margin-left: 5%;
    margin-right: 8%;
}

.menuHeader {
    color: #309060;
    font-family: arial black, sans-serif;
    font-size: 48px;
    border-bottom: 4px solid #309060;
}

.menuSubHeader {
    color: #399f6f;
    font-family: arial black, sans-serif;
    font-size: 36px;
    border-bottom: 2px solid #399f6f;
}

.drinkName, .entreeName {
    color: #e2ae65;
    font-family: arial black, sans-serif;
    transition: 0.1s ease-in-out;
    transform-origin: left center;
    overflow: hidden;
}

.drinkName:hover, .entreeName:hover {
    transform: scale(1.4);
}

.happyHourFooter{
    text-align: center;
    transition: 0.1s ease-in-out;
    transform-origin: center;
    font-size: 16px;
}

.happyHourFooter:hover{
    transform: scale(1.4);
}

.prices {
    color: dimgray;
    font-family: "Open Sans" sans-serif;
}

.menuBreak {
    color: #399f6f;
}