.menu {
    width: 100vw;
    height: 1000vh;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.menu .entrees,
.menu .drinks {
    width: 45%;
    /* Adjust this as needed */
    display: flex;
    flex-direction: column;
}