/* 
Navbar Styles
*/

nav {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

/* 
Link Styles 
*/

nav a {
    color: #ddd;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* 
Hover effect for links
*/

nav a:hover {
    background-color: #555;
}